body {
    margin: 0px;
    background-color: #ffd0dc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    height: 500px;
    width: 400px;
    background-color: #f780ae;
    box-shadow: inset 3px 3px 5px #ffffff99,
        inset -2px -2px 4px #0000001a;
    border-radius: 60px;
    position: relative;
    padding: 20px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;

}

.calculator::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from 290deg,
            #e46fae 0deg,
            #d1579a 90deg,
            #a13d73 180deg,
            #d1579a 270deg,
            #e46fae 360deg);
    box-shadow: 15px 15px 10px #e67491;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 65px;
    padding: 5px;
}
#cat-ribbon{
    height: 150px;
    width: 150px;
    position: absolute;
    z-index: 2;
    top: -15%;
    left: 70%;
    transform: rotate(18deg);
}
.display {
    width: 370px;
    height: 100px;
    background-color: #d8a8eb;
    border-radius: 30px;
    text-align: right;
    align-content: center;
    color: aliceblue;
    font-size: 4.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 20px;
    padding-top: 10px;
    margin-top: 3px;
    border: 5px solid #a7598e;
    box-shadow: 2px 2px 6px #ffffff99,
        inset 7px 7px 6px #0000001a;
}

.operator-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.operator,
.digit {
    width: 70px;
    height: 60px;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    background-color: #f359a6;
    border: 3px solid #a7598e;
    box-shadow: 3px 3px 6px #0000001a,
        inset 1px 1px 3px #ffffff99;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.digit:hover,
.operator:hover {
    border: 3px solid #000;
    box-shadow: 0 0 0 3px #ffc0dd,
        0 8px 15px rgba(255, 162, 202, 0.4);
    transform: translateY(-3px) scale(1.03);
    transition: all 0.2s ease-in-out;

}

.digit:focus-visible,
.operator:focus-visible {
    outline: none;
}

.usingKeyboard:focus-visible {
    border: 3px solid #000;
    outline: none;
    box-shadow: 0 0 0 3px #ffc0dd,
        0 8px 15px rgba(255, 162, 202, 0.4);
    transform: translateY(-3px) scale(1.03);
    transition: all 0.2s ease-in-out;
}

#exponent {
    font-size: 1rem;
}

.icon {
    font-size: 1.6rem;
}

#x-squared {
    padding-left: 10px;
    padding-bottom: 5px;
}